@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-12">
        <h3>Login</h3>
        <p>
            We need to authenticate
        </p>
        <div id="okta-login-container">
            
        </div>        
    </div>
</div>

@section Css
{
    <link
        href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.4.0/css/okta-sign-in.min.css"
        type="text/css"
        rel="stylesheet"/>
    
    <!-- Theme file: Customize or replace this file if you want to override our default styles -->
    <link
        href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.4.0/css/okta-theme.css"
        type="text/css"
        rel="stylesheet"/>
}

@section Scripts
{
    <!-- Latest CDN production Javascript and CSS: 2.4.0 -->
    <script
        src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.4.0/js/okta-sign-in.min.js"
        type="text/javascript"></script>
    
<script type="text/javascript">
    var oktaSignIn = new OktaSignIn({
        baseUrl: "https://dev-149130.okta.com",
        clientId: "0oadixqpmh1p4Tvy50h7",
        authParams: {
            issuer: "https://dev-149130.okta.com/oauth2/default",
            responseType: ['token', 'id_token'],
            display: 'page'
        }
    });
    if (oktaSignIn.token.hasTokensInUrl()) {
        oktaSignIn.token.parseTokensFromUrl(
            function success(res) {
                // The tokens are returned in the order requested by `responseType` above
                var accessToken = res[0];
                var idToken = res[1]

                // Say hello to the person who just signed in:
                console.log('Hello, ' + idToken.claims.email);

                // Save the tokens for later use, e.g. if the page gets refreshed:
                oktaSignIn.tokenManager.add('accessToken', accessToken);
                oktaSignIn.tokenManager.add('idToken', idToken);

                // Remove the tokens from the window location hash
                window.location.hash='';
            },
            function error(err) {
                // handle errors as needed
                console.error(err);
            }
        );
    } else {
        oktaSignIn.session.get(function (res) {
            // Session exists, show logged in state.
            if (res.status === 'ACTIVE') {
                console.log('Welcome back, ' + res.login);
                return;
            }
            // No session, show the login form
            oktaSignIn.renderEl(
                { el: '#okta-login-container' },
                function success(res) {
                    // Nothing to do in this case, the widget will automatically redirect
                    // the user to Okta for authentication, then back to this page if successful
                },
                function error(err) {
                    // handle errors as needed
                    console.error(err);
                }
            );
        });
    }
</script>
    
}
