@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h3>Welcome to Balance Web Application</h3>
        <p>
            We are aimed to let you have the control of your bank accounts
        </p>
    </div>
</div>