@using BalanceWebApp.Controllers
@model BalanceWebApp.Model.Views.AccountTypes.IndexViewModel

@{
    ViewData["Title"] = "Account Types";
}

<div class="row">
    <div class="col-md-12">
        <h3>@ViewData["Title"]</h3>

        @if (Model.Message != null)
        {
            <div class="alert alert-danger content-separator">
                @Model.Message
            </div>
        }

        <table class="table table-striped table-bordered content-separator">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AccountTypes)
                {
                    <tr>
                        <td><a href="/account-types/@item.Id"><img src="@Routes.Images/svg/pencil.svg" alt="pencil" class="img-edit"></a></td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-primary" asp-controller="AccountType" asp-action="New">New</a>

    </div>
</div>