@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-md-12">
        <h3>Something happened!</h3>
        
        <div class="alert alert-danger content-separator" role="alert">
            <h4 class="alert-heading">@ViewData["Title"]</h4>
            <p>An error occurred while processing your request.</p>
            <hr>
            <p class="mb-0">This is embarassing.</p>
        </div>        
        
    </div>
</div>
